<div [routerLink]="['/events', event.key]" class="well hoverwell thumbnail">
  <h2>{{ event?.name | uppercase}}</h2>
  <div>Date: {{ event?.date | date:'short'}}</div>
  <div [ngSwitch]="event?.time">
    Time: {{ event?.time }}
    <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
    <span *ngSwitchCase="'12:00 pm'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>
  <div>Price: {{ event?.price |currency:"NGN"}}</div>
  <div *ngIf="event?.location">
    <span>Location: {{ event?.location?.address }}</span>
    <span class="space"></span>
    <span>{{ event?.location?.city }}, {{ event?.location?.country }}</span>
  </div>
  <div *ngIf="event?.onlineUrl">Online Url: {{ event?.onlineUrl }}</div>
</div>
